

#slider-wrapper,
.tournaments-wrapper {
  background: rgba(160, 225, 225, 0.3);
}

.right-front-wrapper {

}

.left-front-inner-wrapper {
  margin-right: 10px;

  #slider-wrapper {
    padding: 10px;

    .news-wrapper {
      margin-top: 10px;
      border-radius: 10px;
      padding: 10px;
      background: rgba(130, 225, 200, 0.7);
    }
  }

}
