
body {
  margin: 0px !important;

  .main-wrapper {
    width: 100%;
    overflow: auto;
  }
}

table {
  text-align: center;
}

.loss-result {
  color: red;
}

.win-result {
  color: green;
}

.draw-result {
  color: orange;
}
