body {
  background-color: transparent !important;

  .insert-wrapper {
    background: rgba(160, 225, 225, 0.3);
    padding: 20px;
    width: 30%;
    margin: 0 auto;

    .insert-inner-wrapper {
      background: rgba(130, 225, 200, 0.7);
      padding: 20px;
    }
  }
}
