{% extends "layout.html" %}

{% block title %}
  Front page
{% endblock %}

{% block css_block %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/front.css') }}">
{% endblock %}

{% block content %}

  <div class="left-front-wrapper desktop-4-80">
    <div class="left-front-inner-wrapper">
      <div id="slider-wrapper">
        <div class="news-wrapper">
          <h3>Lorem Ipsum</h3>
          <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt tortor eu lorem tempor consequat. Proin suscipit iaculis enim mollis ultricies. Suspendisse magna nisi, tempor non ullamcorper quis, lobortis at nunc. Integer non nisl viverra, interdum orci non, aliquam nisi. Aliquam erat volutpat. Nulla eu tincidunt lorem, pulvinar laoreet elit. Ut posuere diam eget dictum commodo. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
        </div>
        <div class="news-wrapper">
          <h3>Curabitur dapibus</h3>
          <div>Maecenas hendrerit ante quam, sed finibus tellus rhoncus sed. Maecenas consectetur elementum commodo. Pellentesque ut porta lorem. Duis lorem nisi, euismod at erat id, ultrices blandit dolor. Mauris non dolor ex. Ut placerat lacinia tincidunt. Duis nec orci vitae urna suscipit rutrum a id dolor. Duis efficitur, lacus et interdum condimentum, ligula sem rhoncus ligula, sit amet feugiat libero nisl id metus. Curabitur dapibus turpis et justo semper, in sollicitudin est pharetra. Donec bibendum finibus augue, non ornare ipsum viverra nec. Aenean vitae ipsum non lorem accumsan tristique in sed sapien. Nullam aliquam ex metus, eget sodales sapien tincidunt vitae. Proin efficitur, erat eu sagittis pulvinar, urna urna fringilla elit, vel malesuada magna leo a libero. Ut vitae commodo est, at aliquam nulla. Aenean feugiat in nulla eget vestibulum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</div>
        </div>
        <div class="news-wrapper">
          <h3>Phasellus sit amet</h3>
          <div>Ut eu arcu ut libero efficitur gravida in eu nisl. Suspendisse augue nulla, pellentesque eu augue ac, euismod vestibulum tortor. In vulputate ante ligula, ut sodales lectus interdum sit amet. Maecenas posuere pulvinar quam nec imperdiet. Fusce eu quam vulputate, convallis eros ut, aliquet odio. Mauris aliquam aliquam diam, in molestie purus eleifend vitae. Mauris nec urna euismod, pretium turpis vitae, tristique lorem. Sed consequat nunc tristique leo molestie, non interdum nisl varius. Phasellus sit amet porttitor felis, ornare congue risus. Mauris elementum faucibus urna. Nulla facilisi. Nunc tortor purus, dapibus ac volutpat in, molestie sed tellus. Curabitur porta turpis at volutpat auctor. In interdum nisl at nisi varius, sit amet dapibus enim mollis. Praesent pulvinar nibh vel mollis auctor. Curabitur pellentesque venenatis urna, nec interdum nibh ullamcorper a.</div>
        </div>
      </div>
    </div>
  </div>
  <div class="right-front-wrapper desktop-4-20">
    <div class="tournaments-wrapper">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Type</th>
            <th scope="col">State</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for tournament in tournaments %}
          <tr>
            <td>{{ tournament['title'] }}</td>
            <td>{{ tournament['tournament_type'] }}</td>
            <td>{{ tournament['state'] }}</td>
            <td>
              <a href="/tournament/{{tournament['id']}}">
                <button type="button" class="btn btn-primary btn-sm">View</button>
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

{% endblock %}
