{% extends "layout.html" %}

{% block title %}
  Front page
{% endblock %}

{% block css_block %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/front.css') }}">
{% endblock %}

{% block content %}

  <div class="left-front-wrapper desktop-4-80">
    <div class="some-stuff">
      Blob
    </div>
  </div>
  <div class="right-front-wrapper desktop-4-20">
    <div class="tournaments-wrapper">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Type</th>
            <th scope="col">State</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for tournament in tournaments %}
          <tr>
            <td>{{ tournament['title'] }}</td>
            <td>{{ tournament['tournament_type'] }}</td>
            <td>{{ tournament['state'] }}</td>
            <td>
              <a href="/tournament/{{tournament['id']}}">
                <button type="button" class="btn btn-primary btn-sm">View</button>
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

{% endblock %}
