{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
  </style>
{% endblock %}
{% block content %}
  <h1>Index</h1>
  <p class="important">
    Welcome on my awesome homepage.
  </p>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Type</th>
      <th scope="col">State</th>
      <th scope="col">Round</th>
      <th scope="col">Created by</th>
      <th scope="col">Creation time</th>
      <th scope="col">Modification time</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for tournament in tournaments %}
    <tr>
      <th scope="row">{{ tournament['id'] }}</th>
      <td>{{ tournament['title'] }}</td>
      <td>{{ tournament['tournament_type'] }}</td>
      <td>{{ tournament['state'] }}</td>
      <td>{{ tournament['round'] }}</td>
      <td>{{ tournament['alias'] }}</td>
      <td>{{ tournament['creation_time'] }}</td>
      <td>{{ tournament['modification_time'] }}</td>
      <td>
        <a href="/tournament/{{tournament['id']}}">
          <button type="button" class="btn btn-primary">View</button>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

  <div class="desktop-4-50">
    <canvas id="myChart" width="400" height="400"></canvas>
  </div>

  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}
