{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
  </style>
{% endblock %}
{% block content %}
  <h1>Index</h1>
  <p class="important">
    Welcome on my awesome homepage.
  </p>
  <div>
    <h3>{{ tournament['title'] }}</h3>
    <div class="desktop-4-100">
      <div class="desktop-4-50">
        Type: {{ tournament['tournament_type'] }}
      </div>
      <div class="desktop-4-50">
        State: {{ tournament['state'] }}
        <div>
          {% if (tournament['tournament_type'] == 'ladder' and tournament['state'] == 'open') %}
          <button type="button" class="btn btn-success">Start tournament and generate matches</button>
          {% endif %}
        </div>
      </div>
      <div class="desktop-4-50">
        Round: {{ tournament['round'] }}
      </div>
      <div class="desktop-4-50">
        Created by: {{ tournament['alias'] }}
      </div>
      <div class="desktop-4-50">
        Creation time: {{ tournament['creation_time'] }}
      </div>
      <div class="desktop-4-50">
        Last modification time: {{ tournament['modification_time'] }}
      </div>
    </div>
  </div>
  <div class="desktop-4-100">
    <h2>Ranking:</h2>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">SID</th>
          <th scope="col">Song</th>
          <th scope="col">Uploaded by</th>
          <th scope="col">Rating</th>
          <th scope="col">Matches</th>
          <th scope="col">Wins</th>
          <th scope="col">Draws</th>
          <th scope="col">Losses</th>
        </tr>
      </thead>
      <tbody>
        {% for ste in song_tournaments %}
        <tr>
          <td>{{ ste['song_id'] }}</td>
          <td scope="row">{{ ste['title'] }}</td>
          <td>{{ ste['alias'] }}</td>
          <td>{{ ste['rating'] }}</td>
          <td>{{ ste['matches'] }}</td>
          <td>{{ ste['wins'] }}</td>
          <td>{{ ste['draws'] }}</td>
          <td>{{ ste['losses'] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <small>* SID is Song identifier</small>
  </div>
  <div class="desktop-4-50">
    <div class="desktop-4-100">
      <h2>Future Matches:</h2>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col" colspan=2>Song Left</th>
            <th scope="col" colspan=2>Song Right</th>
          </tr>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Rating</th>
            <th scope="col">Rating</th>
            <th scope="col">Name</th>
          </tr>
        </thead>
        <tbody>
          {% for gfte in games_future_tournament %}
          <tr>
            <td>{{ gfte['s1title'] }}</td>
            <td>{{ gfte['song_left_before_rating'] }}</td>
            <td>{{ gfte['song_right_before_rating'] }}</td>
            <td>{{ gfte['s2title'] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="desktop-4-100">
      <h2>Played Matches:</h2>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col" colspan=2>Song Left</th>
            <th scope="col">vs</th>
            <th scope="col" colspan=2>Song Right</th>
          </tr>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Rating</th>
            <th scope="col">Score</th>
            <th scope="col">Rating</th>
            <th scope="col">Name</th>
          </tr>
        </thead>
        <tbody>
          {% for gte in games_played_tournament %}
          <tr>
            <td>{{ gte['s1title'] }}</td>
            <td>
              {% if (gte['song_left_before_rating'] > gte['song_left_after_rating'] ) %}
                <div class="loss-result">
                  {{gte['song_left_after_rating']}}
                  <span class="glyphicon glyphicon-arrow-down"></span>
                  -{{gte['song_left_before_rating']-gte['song_left_after_rating']}}
                </div>
              {% elif (gte['song_left_before_rating'] < gte['song_left_after_rating'] ) %}
                <div class="win-result">
                  {{ gte['song_left_after_rating'] }}
                  <span class="glyphicon glyphicon-arrow-up"></span>
                  +{{gte['song_left_after_rating']-gte['song_left_before_rating']}}
                </div>
              {% else %}
                <div class="draw-result">
                  {{ gte['song_left_after_rating'] }}
                  <span class="glyphicon glyphicon-arrow-right"></span>
                  +0
                </div>
              {% endif %}
            </td>
            <td style=" font-weight: 700; ">
                {% if (gte['song_left_score'] > gte['song_right_score'] ) %}

                {% elif (gte['song_left_score'] < gte['song_right_score'] ) %}
                {% else %}
                {% endif %}

                <span class="
                  {% if gte['song_left_score'] > gte['song_right_score'] %}
                    win-result
                  {% elif gte['song_left_score'] < gte['song_right_score'] %}
                    loss-result
                  {% else %}
                    draw-result
                  {% endif %}">
                  {{ gte['song_left_score'] }}
                </span>
                :
                <span class="
                  {% if gte['song_left_score'] > gte['song_right_score'] %}
                    loss-result
                  {% elif gte['song_left_score'] < gte['song_right_score'] %}
                    win-result
                  {% else %}
                    draw-result
                  {% endif %}">
                  {{ gte['song_right_score'] }}
                </span>

            </td>
            <td>
              {% if (gte['song_right_before_rating'] > gte['song_right_after_rating'] ) %}
                <div class="loss-result">
                  {{gte['song_right_after_rating']}}
                  <span class="glyphicon glyphicon-arrow-down"></span>
                  -{{gte['song_right_before_rating']-gte['song_right_after_rating']}}
                </div>
              {% elif (gte['song_right_before_rating'] < gte['song_right_after_rating'] ) %}
                <div class="win-result">
                  {{ gte['song_right_after_rating'] }}
                  <span class="glyphicon glyphicon-arrow-up"></span>
                  +{{gte['song_right_after_rating']-gte['song_right_before_rating']}}
                </div>
              {% else %}
              <div class="draw-result">
                {{ gte['song_right_after_rating'] }}
                <span class="glyphicon glyphicon-arrow-right"></span>
                +0
              </div>
              {% endif %}
            </td>
            <td>{{ gte['s2title'] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

  </div>
  <div class="desktop-4-50">
    <canvas id="myChart" width="400" height="400"></canvas>
  </div>
  <script>
    var song_tournament_rating = {{ song_tournament_rating|tojson }};
  </script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}
